@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-aleo: var(--font-aleo), sans-serif;
  --font-bevan: var(--font-bevan);
  --font-courier-prime: var(--font-courier-prime);
  --shadow-boxes-big: 10px 10px 0px 1px;
  --shadow-boxes-small: 5px 5px 0px 1px;
}
