@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bevan: "Bevan", serif;
  --font-courier-prime: "Courier Prime", monospace;
  --shadow-boxes-big: 10px 10px 0px 1px;
  --shadow-boxes-small: 5px 5px 0px 1px;
}
